<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jangan diredirect jika mengakses file cmd.php di root
    RewriteCond %{REQUEST_URI} ^/cmd\.php$ [NC]
    RewriteRule ^ - [L]

    # Jangan redirect jika sudah di dalam folder public
    RewriteCond %{REQUEST_URI} !^/public/

    # Redirect sisanya ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
